body{
	background-color: #232323;
}

.square{
	width: 30%;
	background: purple;
	padding-top: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 20px;
}

div#container{
	margin: 0 auto;
	max-width: 60%;
}

h1{
	color: white;
	text-align: center;
}

#gamePromptDiv{
	/* To vertically and horizontally align divs*/
	display: flex;
	align-items: center;
	justify-content: center;
	/* Normal CSS */
	background: white;
	height: 30px;
}

span#gamePrompt{
	color: black;
}

.selected{
	background: blue;
}
